@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$burger-menu-width: 40px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  height: $burger-menu-width;
  width: $burger-menu-width;
  position: relative;
  z-index: 3;
  &:hover{
    cursor:pointer;
  }
}

.burger-menu__icon {
  height: 5px;
  width: $burger-menu-width;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #4A2545;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: all ease 0.5s;
  &::before,&::after{
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
  }
  &::before{
    top: -10px;
    left: 0;
    transform-origin: left;
  }
  &::after{
    bottom: -10px;
    right: 0;
    transform-origin: right;
  }
  &_open {
    transform: translate(-50%,-50%) rotate(135deg);
    &::before {
      top: 0;
      transform: translateX(100%) rotate(-90deg);
    }
    &::after {
      bottom:0;
      transform: translateX(-100%) rotate(-90deg);
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  width: 350px;
  height: 100%;
  transition: left 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  &_active {
    left: 0;
  }
}

.menu__list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 150px 50px 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: darkcyan;
}

.menu__item + .menu__item {
  margin-top: 20px;
}

.menu__item_active .menu__link {
  text-decoration: underline;
}

.menu__link {
  display: inline-block;
  color: #fff;
  font-size: 26px;
  text-decoration: none;
}

.toggle-box {
  position: relative;
  width: 120px;
  height: 40px;
  .toggle-box__input,
  .toggle-box__label {
    width: 100%;
    height: 100%;
    position: absolute;

    cursor: pointer;
  }
  .toggle-box__input {
    opacity: 0;
    z-index: 4;
  }
  .toggle-box__input:checked + .toggle-box__label {
    background: linear-gradient(40deg,#00bf82,#0099ae);
    .toggle-box__on {
      opacity: 1;
    }
    .toggle-box__off {
      opacity: 0;
    }
    .toggle-box__handle {
      left: 83px;
      box-shadow: -1px 1px 5px rgba(0,0,0,.2);
    }
  }
  .toggle-box__label {
    right: 0;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 -1px #fff, inset 0 1px 1px rgba(0,0,0,.05);
    background: linear-gradient(40deg,#ffd86f,#fc6262);
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
  }
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    transition: opacity 0.2s;
  }
  .toggle-box__on {
    left: 10px;
    opacity: 0;
  }
  .toggle-box__off {
    right: 10px;
  }
  .toggle-box__handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 33px;
    height: 33px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(40%,#fff),to(#f0f0f0));
    background-image: linear-gradient(180deg,#fff 40%,#f0f0f0);
    transition: left .15s ease-out;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
      width: 12px;
      height: 12px;
      background: #f9f9f9;
      border-radius: 6px;
      box-shadow: inset 0 1px rgba(0,0,0,.02);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#fff));
      background-image: linear-gradient(180deg,#eee,#fff);
    }
  }
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  font-weight: 700;
  & > div {
    flex-basis: 23%;
  }
}

.category-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: box-shadow .25s linear;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  font-size: 21px;
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
  }
}

.category-card__img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #0099ae, #00bf82 57%, #fff 0, #fff);
  img {
    object-fit: cover;
    margin-top: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid #fff;
  }
}

.category-card__title {
  border-top: 1px solid  #ddd;
  padding: 20px;
}

.card {
  font-size: 25px;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
  perspective: 500px;
  &:nth-child(4n) {
    margin-right: 0;
  }
  &_active .card__inner {
    transform: rotateY(180deg);
  }
  &::before {
    content: '';
    float: left;
    padding-top: 100%;
  }
}

.card__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s, box-shadow .25s linear;
  transform-style: preserve-3d;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  img {
    width: 100%;
    object-fit: cover;
  }
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
  }
}

.card__img {
  width: 100%;
}

.card__title {
  padding: 10px;
  margin: auto;
}

.card__rotate {
  position: absolute;
  backface-visibility: hidden;
  width: 50px;
  height: 50px;
  background-image: url('../data/img/rotate.png');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center 16px;
  bottom: 5px;
  right: 5px;
  transition: .3s;
  filter: grayscale(1);
  &:hover {
    filter: none;
  }
}

.card__front,
.card__back {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card__back {
  transform: rotateY(180deg);
}

.audio {
  position: absolute;
  top: 0;
  left: -100%;
}


@media (max-width: 1024px) {
  .cards-container > div {
    flex-basis: 48%;
  }
}

@media (max-width: 450px) {
  .menu {
    width: 100%;
  }
  .cards-container > div {
    flex-basis: 100%;
  }
}
